@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,400;0,700;0,900;1,100;1,500&display=swap');

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
}
body{
    background: rgb(252, 2, 2);
}
header{
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    display: flex;
    justify-content: space-between;
    z-index: 1000;
    padding: 30px 100px;
}

header .logo{
    position: relative;
    color: #fff;
    font-weight: 700;
    font-size: 2em;
    text-decoration: none;
}

header ul{
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
}

header ul li{
    position: relative;
    list-style: none;
    margin-left: 40px;
}
header ul li a{
    color: #fff;
    text-decoration: none;
}
header ul li a:hover,
header ul .active1{
    color: red;
    font-weight: 600;
}
header ul li a:after{
    content: "";
    position: absolute;
    width: 0%;
    height: 2px;
    background: rgb(255, 3, 3);
    bottom: 0px;
    left: 0;
    transition: all .5s;
}
header ul li a:hover:after{
    width: 100%;
}
header ul li .active1:after{
    width: 100%;
}
.mobile-nav{
    display: none;
    float: right;
    margin: 10px;
    padding: 10px;
    font-size: 24px;
    color: #fff;
    outline: none;
    cursor: pointer;
}
.banner{
    position: relative;
    width: 100%;
    min-height: 100vh;
}
.banner .imgBx{
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
}
.banner .imgBx img{
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    object-fit: cover;
    opacity: 0;
    transition: 0.5s; 
    background-position: center;
}
.banner .imgBx img.active{
    opacity: 1;
}
.controls{
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    right: 0;
    width: 80px;
}
.controls li{
    position: relative;
    width: 80px;
    height: 80px;
    background: #fff;
    list-style: none;
    display: flex;
    justify-content: center;
    align-items: center;
    cursor: pointer;
}
.controls li:hover{
    background: #ffeb3b;
}

.controls li:before{
    content: '';
    position: absolute;
    width: 20px;
    height: 20px;
    border-left: 3px solid #111;
    border-bottom: 3px solid #111;
    transform: rotate(45deg);
}
.controls li:nth-child(2):before{
    transform: rotate(225deg);
}
.contentBx{
    position: absolute;
    bottom: 0;
    max-width: 700px;
}
.contentBx div{
    display: none;
}
.contentBx div.active{
    display: block;
    padding: 30px;
    padding-left: 30px;
    background: rgba(0, 0, 0, 0.4);
}
.contentBx div h2{
    color: #fff;
    font-size: 2em;
}
.contentBx div p{
    color: #fff;
    font-size: 1.1em;
}
.contentBx div a{
    color: #111;
    font-size: 1.1em;
    display: inline-block;
    padding-left: 10px 30px;
    background: #fff;
    border: 6px solid #fff;
    margin-top: 10px;
    font-weight: 500;
    text-decoration: none;
    letter-spacing: 2px;
    text-transform: uppercase;
}

/* Responsive css */
@media only screen and (max-width: 900px){
    .site-nav-menu{
        float: none;
        position: absolute;
        background: #00000077;
        width: 100%;
        left: 0;
        top: 85px;
        padding: 10px 0px 20px 0px;
        border-top: 1px solid #4b0d0d86;
        clip-path: circle(0% at 100% -150%);
        transition: all 0.8s;
    }
    header ul{
        display: grid;
        text-align: center;
        font-size: 30px;
        margin: 15px 5px;
        padding-left: 10%;

    }
    header ul li{
        margin-top: 5px;
    }
    .mobile-nav{
        display: block;
        margin: 1px;
    }
    .mobile-menu{
        clip-path: circle(100% at 100%);
    }
    .primary-menu li a:after{
        display: none;
    }
}